    <header class="headercool">
      <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          
          
            <a href="/"><img src="/Images/Logo_1.png" class="img-fluid" alt="Tatsat Banerjee" /></a>
          


        </div>
      </div>

    </div>

    </header>



  <div class="sticky"> 
  
  
      
        <nav class="navbar navbar-dark navbar-expand-sm bg-dark justify-content-end pe-3 p-0">  
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar">    
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse w-100 p-0" id="collapsingNavbar">
              <ul class="navbar-nav w-100 p-0 justify-content-center">
                  <li class="nav-item ps-3">
                      <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item ps-3">
                      <a class="nav-link" href="/research">Research</a>
                  </li>
                  <li class="nav-item ps-3">
                      <a class="nav-link" href="/publication">Publications</a>
                  </li>
                  <li class="nav-item ps-3">
                    <a class="nav-link" href="/posts">Blog</a>
                </li>
                <li class="nav-item ps-3">
                  <a class="nav-link" href="/contact">Contact</a>
              </li>
              </ul>
              
        </nav>
  
  
  
  
  <!---
  
  <ul class="nav mynav justify-content-center">
    
      <a class="nav-link" href="/">Home</a>
      
      <a class="nav-link" href="/research">Research</a>
    
      <a class="nav-link" href="/publication">Publications</a>
   
      <a class="nav-link" href="/posts">News</a>
      
      <a class="nav-link" href="/contact">Contact</a>
    
  </ul>

 --->

</div>
